@mixin tag($bg-color, $text-color) {
  width: fit-content;
  display: inline-flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  background: $bg-color;

  span {
    color: $text-color;
    text-align: center;
    font-size: 8px;

    @media (min-width: 375px) {
      font-size: 10px;
    }

    @media (min-width: 769px) {
      font-size: 12px;
    }
  }
}

.orange {
  @include tag(#f9eee3, #d58d49);
}

.green {
  @include tag(#e7f7db, #86d549);
}

.pink {
  @include tag(#f7dbf0, #d549b6);
}

.blue {
  @include tag(#dbe6f7, #4981d5);
}
