@import '../../input/createDoItYourselfCommonInput/createDoItYourselfInput.module.scss';
.textareaContainer {
  border: 1px solid var(--gray30);
  border-radius: 6px;
  height: 100px;
  padding: 12px 16px;
  padding-bottom: 36px;
  color: var(--black);
  font-size: 1.2rem;
  vertical-align: top;
  resize: none;
  overflow-y: hidden;

  &:focus {
    border: 1px solid var(--blue30);
  }

  @media (min-width: 769px) {
    font-size: 1.4rem;
    height: 139px;
  }
}

.submitButton {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: var(--white);
  border: 1px solid var(--gray30);
  border-radius: 4px;
  color: var(--blue30);
  font-size: 1.2rem;
  padding: 9px 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--blue30);
    color: var(--white);
  }

  &:focus {
    border: 1px solid var(--blue30);
    outline: none;
  }
}
