.cardDetailModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: default;
  padding-left: 24px;
  padding-right: 24px;
}

.modalContent {
  background: white;
  padding: 14px 20px;
  border-radius: 8px;
  height: 700px;
  // text-align: center;
  // position: relative;
  // display: flex;
  // flex-direction: column;
  @media (min-width: 769px) {
    width: 680px;
    height: 770px;
    padding: 14px 28px;
  }
}

.topArea {
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
  }
}

.menuArea {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  @media (min-width: 769px) {
    order: 2;
    align-items: center;
  }
}

.kebabIcon {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.closeIcon {
  width: 24px;
  height: 24px;
}
.title {
  font-size: 2rem;
  @media (min-width: 769px) {
    order: 1;
  }
}

.mainArea {
  @media (min-width: 769px) {
    display: flex;
    gap: 24px;
  }
}

.infoArea {
  width: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--gray30);
  border-radius: 8px;
  gap: 60px;
  padding: 0px 60px 12px 16px;

  @media (min-width: 769px) {
    order: 2;
    width: 180px;
    height: 155px;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
    padding: 16px;
    margin-top: 15px;
  }
}

.userInfoArea,
.dateArea {
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.name,
.date {
  font-size: 1.2rem;
  color: var(--black20);
}

.dateArea {
  display: flex;
  flex-direction: column;
  @media (min-width: 769px) {
    margin-top: 20px;
  }
}

.date {
  margin-top: 3px;
}
// .date {
//   font-size: 1.2rem;
//   color: var(--black20);
// }

.contentArea {
  @media (min-width: 769px) {
    order: 1;
    width: 420px;
  }
}

.infoTitle {
  font-size: 1rem;
}

.tagArea {
  margin-top: 16px;
  display: flex;
}
.tag {
  display: flex;
  gap: 6px;
}

.line {
  border-left: 1px solid var(--gray30);
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.description {
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
}

.imageArea {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  border-radius: 6px;
}

.commentArea {
  margin-top: 20px;
}
.commentListArea {
  max-height: 110px;
  overflow-y: auto;
  margin-top: 10px;
  @media (min-width: 769px) {
    max-height: 200px;
  }
}

.commentListArea::-webkit-scrollbar {
  width: 7px;
}

.commentListArea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.commentListArea::-webkit-scrollbar-thumb {
  background-color: #a7d7d9;
  border-radius: 5px;
}

.commentListArea::-webkit-scrollbar-thumb:hover {
  background-color: #01b3c8;
}

.commentWriterArea {
  margin-top: 16px;
  display: flex;
  // flex-direction: row;
  align-items: center;
}
.profileImage {
  border-radius: 50%;
}
.writerName {
  font-size: 1.2rem;
  margin-left: 8px;
}

.createDate {
  font-size: 1rem;
  color: var(--gray40);
  margin-left: 6px;
}

.commentText {
  font-size: 1.2rem;
  color: var(--black20);
  margin-left: 30px;
}

.editCommentInput {
  border: 1px solid var(--gray30);
  border-radius: 10px;
  margin-left: 30px;
  padding: 7px;
  font-size: 1.2rem;
}

.buttonArea {
  margin-top: 6px;
  margin-left: 30px;
  display: flex;
  gap: 8px;
}

.button {
  text-decoration: underline;
  font-size: 1rem;
  color: var(--gray40);
  cursor: pointer;
}
