.container {
  width: 285px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 25px 20px 20px ;
  background-color: var(--white, #ffffff);
  border-radius: 8px;
  

  h1 {
    margin: 0;
    color: var(--black20, #333236);
    font-size: 2rem;
    font-weight: 700;
  }

  .inputContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .ButtonContainer {
    display: flex;
    justify-content: flex-end;
  }

  //태블릿
  @media (min-width: 769px) {
    width: 544px;
    height: 370px;
    display: flex;
    flex-direction: row;

    .imgContainer{
      width: 240px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .inputContainer{
      width: 275px;
      margin-top: 75px;
    }
  }

  //데스크탑
  @media (min-width: 1024px) {
    width: 620px;

    .inputContainer{
      width: 340px;
      margin-top: 75px;
    }
  }
}
