.container {
  margin-top: 60px;
  // flex: 1;
  padding: 12px;
  // border-top: 1px solid gray; //예비설정
  // border-left: 1px solid gray; //예비설정

  .return {
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
    border: none;
    background: var(--gray10, #fafafa);
    color: var(--black20, #333236);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
  }

  .return:hover {
    transition: all 0.3s;
    scale: 1.1;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
