.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.labelContainer {
  font-size: 1.6rem;

  @media (min-width: 769px) {
    font-size: 1.8rem;
  }
}

.requiredLabel {
  font-size: 1.6rem;
  color: var(--blue30);
  margin-left: 5px;

  @media (min-width: 769px) {
    font-size: 1.8rem;
  }
}

// CreateDoItYourselfComment
.textareaContainer {
  border: 1px solid var(--gray30);
  border-radius: 6px;
  padding: 16px;
  padding-bottom: 36px;
  height: 139px;
  color: var(--black);
  font-size: 1.2rem;
  vertical-align: top;
  resize: none;
  overflow-y: hidden;

  &:focus {
    border: 1px solid var(--blue30);
  }

  @media (min-width: 769px) {
    font-size: 1.4rem;
  }
}

.submitButton {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: var(--white);
  border: 1px solid var(--gray30);
  border-radius: 4px;
  color: var(--blue30);
  font-size: 1.2rem;
  padding: 9px 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--blue30);
    color: var(--white);
  }

  &:focus {
    border: 1px solid var(--blue30);
    outline: none;
  }
}

.inputContainer {
  border: 1px solid var(--gray30);
  padding: 12px 16px;
  border-radius: 6px;
  height: fit-content;
  color: var(--black);
  font-size: 1.2rem;

  &:focus {
    border: 1px solid var(--blue30);
  }

  // CreateDoItYourselfDate
  &[data-has-icon] {
    padding-left: 36px;
    &::-webkit-inner-spin-button,
    ::-webkit-input-placeholder,
    ::placeholder,
    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &[value=""]:before {
      color: var(--black);
      content: "날짜를 입력해 주세요";
    }
  }

  @media (min-width: 769px) {
    font-size: 1.4rem;
    padding: 14px 16px;
  }
}

// CreateDoItYourselfDate

.calendarIcon {
  position: absolute;
  top: 44px;
  left: 16px;
  width: 18px;
  height: 18px;

  @media (min-width: 769px) {
    width: 20px;
    height: 20px;
    top: 48px;
  }
}
