:root {
  --white: #ffffff;

  --gray10: #fafafa;
  --gray20: #eeeeee;
  --gray30: #d9d9d9;
  --gray40: #9fa6b2;
  --gray50: #787486;

  --black10: #4b4b4b;
  --black20: #333236;
  --black30: #171717;
  --black40: #000000;

  --blue10: #a7d7d9;
  --blue20: #01b3c8;
  --blue30: #026fb0;
  --blue40: #35627b;
  --blue50: #00387e;

  --orange10: #f7e1cc;
  --orange20: #fac171;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  background-color: var(--gray10, #fafafa);
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', Helvetica;
}

body,
input,
textarea,
a {
  all: unset;
}
