.inputForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  .inputLabel {
    font-size: 1.6rem;
    color: var(--black20);
  }

  .inputBox {
    border: 1px solid;
    height: 27px;
    padding: 15.5px 16px;
    border-radius: 8px;
    border-color: var(--gray30);
    font-size: 1.6rem;
    color: var(--black30);
  }

  .inputBox:focus {
    border-color: var(--blue30);
  }

  .invalid {
    border-color: red;
  }

  .errorMsg {
    color: red;
    font-size: 1.4rem;
  }
}
