.container {
  width: 100%;
  margin: 60px 0 0 0;

  .logoBox {
    width: 100%;
    height: 200px;
  }

  .logoContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../../../../../public//assets//image/bgLogin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    .bonVoyageLogoMain {
      width: 200px;
      margin-top: 30px;
    }
  }

  .textContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    text-align: center;

    .headerTitle {
      margin: 26px 0 0 0;
      font-weight: 600;
      font-size: 3rem;
    }

    .headerTitleSub {
      word-break: keep-all;
    }

    .startBtn {
      width: 250px;
      height: 40px;
      border: 1px solid #fac171;
      border-radius: 8px;
      background: var(--white, #ffffff);
      font-size: 1.8rem;
      cursor: pointer;
    }
    .startBtn:hover {
      background: var(--orange20, #fac171);
      color: var(--white, #ffffff);
    }
  }

  @media (min-width: 769px) {
    .logoBox {
      padding: 0 60px;
      height: 314px;
      .bonVoyageLogoMain {
        width: 300px;
      }
    }

    .textContainer {
      padding-top: 60px;

      .textWrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        .headerTitle {
          margin: 0;
          font-size: 5.4rem;
        }
        .bonVoyageLogo {
          width: 300px;
          height: 250px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoBox {
      width: 1100px;
      height: 430px;

      .bonVoyageLogoMain {
        width: 300px;
        object-fit: cover;
      }
    }
    .textContainer {
      padding: 150px 0 100px 0;
      gap: 40px;

      .textWrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        .headerTitle {
          margin: 0;
          font-size: 7.6rem;
        }
      }

      .headerTitleSub {
        font-size: 2rem;
      }

      .startBtn {
        width: 400px;
        height: 60px;
        font-size: 2rem;
      }
    }
  }
}
