.dashboardListContainer {
  max-width: 1022px;
}

.dashboardList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;

  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pagenation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 8px;

  & > span {
    color: var(--black-black_333236, #333236);
    font-size: 1.2rem;
  }

  @media (min-width: 769px) {
    margin-top: 10px;

    & > span {
      font-size: 1.4rem;
    }
  }
}

.pageButtons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.pageButton {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: 1px solid var(--gray30, #d9d9d9);
  background: var(--white, #fff);

  .arrowImage {
    position: relative;
    width: 16px;
    height: 16px;
  }

  &:disabled {
    cursor: auto;
  }

  @media (min-height: 769px) {
    width: 40px;
    height: 40px;
  }
}

.pageButton.left {
  border-radius: 4px 0px 0px 4px;
}

.pageButton.right {
  border-radius: 0px 4px 4px 0px;
}
