.sidebarMenu {
  width: 100%;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menuTitle {
  color: var(--gray50);
  font-size: 1.8rem;
  margin-right: 6px;
  display: none;
}
.crownIcon {
  display: none;

}

@media (min-width: 376px) {
  .menuTitle {
    display: inline-block;
  }
  .crownIcon {
    display: inline-block;
  }
}

@media (min-width: 769px) {
  .menuTitle {
    display: inline-block;
  }
  .crownIcon {
    display: inline-block;
  }
}
