.sidebarMenu {
  // background-color: white;
  width: 100%;
  height: 45px;
  padding: 12px;
  cursor: pointer;
  display: flex;

  .menuTitle {
    color: var(--gray50);
    font-size: 1.8rem;
    margin-right: 6px;
    // display: none;
  }
}

@media (min-width: 375px) {
  .menuTitle {
    display: block;
  }
}

@media (min-width: 769px) {
  .menuTitle {
    display: block;
  }
}
