.sidebar {
  width: 67px;
  height: 100vh;
  padding: 20px 24px;
}

.logoText {
  display: none;
}

.menuArea {
  margin-top: 40px;
}

.menuTitleArea {
  display: flex;
  justify-content: space-between;
}

.menuTitle {
  font-size: 1.2rem;
  color: var(--gray50);
  display: none;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar a:hover {
  text-decoration: underline;
}

@media (min-width: 375px) {
  .sidebar {
    width: 160px;
  }
  .menuTitle {
    display: block;
  }
  .menuArea {
    margin-top: 60px;
  }
}

@media (min-width: 769px) {
  .sidebar {
    width: 300px;
  }
  .menuArea {
    margin-top: 60px;
  }
}
