.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  align-items: center;
  border-right: solid 1px var(--gray20, #eee);
   min-height: 100vh;
  height: 100%;
  background-color: #333;
  padding: 20px 24px;
  z-index: 1;
}
.logoArea {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 6px;

}
.logoText {
  display: none;
}

.menuArea {
  margin-top: 20px;
  padding: 10px;
}

.menuTitleArea {
  display: flex;
  justify-content: space-between;
}

.menuTitle {
  font-size: 1.2rem;
  color: var(--gray50);
  display: none;
}
.ellipseGreen {
  display: block;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar a:hover {
  text-decoration: underline;
}

@media (min-width: 376px) {
  .sidebar {
    width: 160px;
    padding: 20px 24px;
  }
  .logoText {
    display: block;

  }
  .menuTitle {
    display: block;
  }
  .menuArea {
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  .sidebar {
    width: 160px;
    padding: 20px 24px;

  }
  .menuArea {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 300px;
  }
}
