.cardSection {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px var(--gray30, #eee);
  padding: 16px 12px;
  background: var(--gray10, #fafafa);

  @media (min-width: 769px) {
    border-right: solid 1px var(--gray30, #eee);
    border-bottom: none;
    height: 100vh;
    width: 350px;
  }
}
.defaultArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleArea {
  display: flex;
  align-items: center;
}
.title {
  margin-left: 8px;
  margin-right: 12px;
  font-size: 1.6rem;
}
.settingIcon {
  margin-right: 0;
  cursor: pointer;
}
