//로그인, 가입하기 버튼
.acountBtn {
  width: 351px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: var(--blue30, #026fb0);
  color: var(--white, #ffffff);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;

  &:disabled {
    background: var(--Gray40, #9fa6b2);
    cursor: not-allowed;
  }

  //태블릿 및 데스크탑
  @media (min-width: 769px) {
    width: 520px;
    height: 50px;
  }
}

//수락, 거절버튼
.smallBtn {
  width: 109px;
  height: 28px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;

  //태블릿
  @media (min-width: 769px) {
    width: 72px;
    height: 30px;
  }

  //데스크탑
  @media (min-width: 1024px) {
    width: 84px;
    height: 32px;
  }
}

.acceptBtn {
  @extend .smallBtn;
  background: var(--blue30, #026fb0);
  color: var(--white, #ffffff);
}

.declineBtn {
  @extend .smallBtn;
  background: var(--white, #ffffff);
  border: 1px solid var(--Gray30, #d9d9d9);
  color: var(--blue30, #026fb0);
}

//삭제버튼
.deleteBtn {
  width: 52px;
  height: 28px;
  background: var(--white, #ffffff);
  border: 1px solid var(--Gray30, #d9d9d9);
  border-radius: 4px;
  color: var(--blue30, #026fb0);
  font-size: 1.2rem;
  font-weight: 500;

  //태블릿, 데스크탑
  @media (min-width: 769px) {
    width: 84px;
    height: 32px;
  }
}

//모달버튼
.modalBtn {
  width: 138px;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 500;

  @media (min-width: 769px) {
    width: 120px;
    height: 48px;
  }
}

.modalConfirmBtn {
  @extend .modalBtn;
  background: var(--blue30, #026fb0);
  color: var(--white, #ffffff);
}

.modalCancelBtn {
  @extend .modalBtn;
  background: var(--white, #ffffff);
  border: 1px solid var(--Gray30, #d9d9d9);
  color: var(--Gray50, #787468);
}

.modalSubmitBtn {
  width: 84px;
  height: 28px;
  background: var(--white, #ffffff);
  border: 1px solid var(--Gray30, #d9d9d9);
  border-radius: 4px;
  color: var(--blue30, #026fb0);
  font-size: 1.2rem;
  font-weight: 500;
  @media (min-width: 769px) {
    width: 83px;
    height: 32px;
  }
}
