.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  input::placeholder {
    font-size: 1.2rem !important;

    @media (min-width: 769px) {
      font-size: 1.6rem !important;
    }
  }

  input::text {
    font-size: 1.2rem !important;

    @media (min-width: 769px) {
      font-size: 1.6rem !important;
    }
  }
}

.labelContainer {
  font-size: 1.4rem;

  @media (min-width: 769px) {
    font-size: 1.8rem;
  }
}

.requiredLabel {
  font-size: 1.6rem;
  color: var(--blue30);
  margin-left: 5px;

  @media (min-width: 769px) {
    font-size: 1.8rem;
  }
}

.inputContainer {
  border: 1px solid var(--gray30) !important;
  padding: 12px 16px !important;
  border-radius: 6px !important;
  height: fit-content;
  color: var(--black);
  font-size: 1.2rem;

  &:focus {
    border: 1px solid var(--blue30);
  }

  // CreateDoItYourselfDate
  &[data-has-icon] {
    padding-left: 36px;
    &::-webkit-inner-spin-button,
    ::-webkit-input-placeholder,
    ::placeholder,
    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &[value='']:before {
      color: var(--black);
      content: '날짜를 입력해 주세요';
    }
  }

  @media (min-width: 769px) {
    font-size: 1.4rem;
    padding: 14px 16px !important;
  }
}

.specialInputWrapper {
  display: flex;
  gap: 5px;
  border: 1px solid var(--gray30);
  border-radius: 6px;
  padding: 12px 5px;

  &:focus {
    border: 1px solid var(--blue30);
  }
}

.flex-column {
  flex-direction: column;
}

.specialInputContainer {
  position: relative;
  display: flex;
  border: 0;
  padding: 5px 10px !important;
  height: fit-content;
  color: var(--black);
  font-size: 1.2rem;

  @media (min-width: 769px) {
    font-size: 1.4rem;
    padding: 0 16px !important;
  }
}

.calendarIcon {
  margin-left: 10px;
  width: 18px;
  height: 18px;
}
