.icon {
  width: 47px;
  height: 47px;
  background-color: #a3c4a2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 50%;
  border: solid 2px var(--white, #fff);
  overflow: hidden;
}

.image {
  position: relative;
  width: 47px;
  height: 47px;

  @media (min-width: 769px) {
    width: 47px;
    height: 47px;
  }

  @media (min-width: 1024px) {
    width: 47px;
    height: 47px;
  }
}
