.header {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: solid 1px var(--gray20, #eee);
  position: sticky;

  .authButton {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .loginBtn, .signUpBtn {
    width: 70px;
    height: 30px;
    padding-top: 4px;
    font-size: 1.3rem;
    text-align: center;
    background: var(--white, #ffffff);
    color: var(--black30, #171717);
    border-radius: 8px;
    border: 2px solid var(--orange20, #fac171);
  }

}
